# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
.vscode/**
**.code-workspace

### Pipeline Files #########
.snakemake/**
results/**
logs/**
benchmark/**
.snakemake/**
.mamba/**

## Resources - use -f to add 
resources/**
## Unzipped stratifications on workstation
GRCh38/**
GRCh37**
GRCh38@all/**
GRCh37@all/**
CHM13v2.0/**
CHM13/**

## Run archiving files
*_v*.tar.gz
v*-report.html


## Directories with tibanna run output
giab-data
giab-tibanna-runs


## Slurm config
etc/slurm/__pycache__/**

## Scratch 
scratch/**

## Rproject files
.Rproj.user/**
.Rhistory

## Runtime Benchmark results
benchmark/**

## pytests files
.tests/unit/__pycache__/**

