.DS_Store
.vscode/**
.snakemake/**
results/**
logs/**
.snakemake/**
**.code-workspace

data/asm17ab21
## Directories with tibanna run output
giab-data
giab-tibanna-runs

## Resources - use -f to add 
resources/**