assemblies:
  boom:
    maternal: https://s3-us-west-2.amazonaws.com/human-pangenomics/submissions/6AA58BE2-3710-4B27-AB6A-BEC23DBA14A2--RU-HG002-cleaned/HG002/assemblies/bakeoff/ru_scaffolded/HG002.mat.gap_filled_scaff.cleaned.fa.gz
    paternal: https://s3-us-west-2.amazonaws.com/human-pangenomics/submissions/6AA58BE2-3710-4B27-AB6A-BEC23DBA14A2--RU-HG002-cleaned/HG002/assemblies/bakeoff/ru_scaffolded/HG002.pat.gap_filled_scaff.cleaned.fa.gz
    is_male: true

benchmarks:
  bam:
    vcf_url: http://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/giab/release/AshkenazimTrio/HG002_NA24385_son/latest/GRCh38/HG002_GRCh38_1_22_v4.2.1_benchmark.vcf.gz
    bed_url: http://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/giab/release/AshkenazimTrio/HG002_NA24385_son/latest/GRCh38/HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed

stratifications:
  bram:
    root: ftp://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/giab/release/genome-stratifications/v2.0/GRCh38/
    reference: GRCh38
    tsv:
      baam: v2.0-GRCh38-stratifications.tsv

variant_caller_runs:
  foo:
    assemblies: [boom]
    zdrop: [20000, 10000]
  boo:
    assemblies: [boom]
    zdrop: null

happy_runs:
  bar:
    variant_caller_runs: [foo, boo]
    benchmarks: [bam]
    strats: [{bed: bram, tsv: baam}]
    use_targeted: true
  far:
    variant_caller_runs: [foo]
    benchmarks: [bam]
    strats: [{bed: bram, tsv: baam}]
    use_targeted: false

